<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div style="
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Varela', sans-serif;
    font-family: 'Varela Round', sans-serif;
    " class="container">
    <h3 > OOPS!! Page dosen't exist</h3>
    <span>Back to <a href="/">home</a></span>
    </div>
    

</body>
</html>